<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style media="screen">
        body {
            background-color: #080710;
        }
        .table {
            color: aliceblue;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 20%;
            left: 50%;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
        }
        .modal-dialog {
            color: aliceblue;
            background-color: rgba(255, 255, 255, 0.13);
            transform: translate(-50%, -50%);
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
            padding: 50px 35px;
        }
        .modal-content{
            background-color: rgba(255, 255, 255, 0.13);
        }
    
    </style>
</head>
<body>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Thêm nhân viên
    </button>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 " id="staticBackdropLabel">Thêm nhân viên</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="add_nv" method="get">
                        <label for="name" class="form-label">Tên nhân viên:</label>
                        <input type="text" class="form-control" name="tennv" id="name">
                        <label for="address" class="form-label">Địa chỉ:</label>
                        <input type="text" class="form-control" name="diachinv" id="address">
                        <label for="salary" class="form-label">Lương:</label>
                        <input type="number" class="form-control" name="luongnv" id="salary">
                        <div class="modal-footer">
                            <input type="button" class="btn btn-dark" data-bs-dismiss="modal" value="cancel"></button>
                            <input type="submit" class="btn btn-dark" value="xac nhan"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Lương</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each dataNV}}
            <tr>
                <th scope="row">{{@index}}</th>
                <td>{{ten}}</td>
                <td>{{diachi}}</td>
                <td>{{luong}}</td>
                <td>
                    <form method="get" action="up_nv">
                        <button name="idEdit" value={{_id}} class="btn btn-dark" type="submit">Sửa</button>
                    </form>
                    <form method="get" action="delete_nv">
                        <button name="idNV" value={{_id}} class="btn btn-dark" type="submit">Xóa</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>
</html>